{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Alec Ashford's Personal Website</title>

        <script type="text/javascript">
                window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid = e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
                heap.load({{ HEAP_ENV_ID }});
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'personal_site/css/base.css' %}">
        <script type="text/javascript" src="{% static 'personal_site/js/base.js' %}"></script>

    </head>

    <body>
        <div id="sidedrawer" class="mui--no-user-select">
            <!-- Side drawer content goes here -->
            <div id="sidedrawer-brand" class="mui--appbar-line-height">
                <span class="mui--text-title">Brand.io</span>
            </div>
            <div class="mui-divider"></div>
            <ul>
                <li>
                    <strong><a href="/blog/"">Blog</a></strong>
                </li>
                <li>
                    <strong>Projects</strong>
                    <ul>
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item 2</a></li>
                        <li><a href="#">Item 3</a></li>
                    </ul>
                </li>
                <li>
                    <strong>Resume</strong>
                    <ul>
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item 2</a></li>
                        <li><a href="#">Item 3</a></li>
                    </ul>
                </li>
                <li>
                    <strong>About</strong>
                    <ul>
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item 2</a></li>
                        <li><a href="#">Item 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <header id="header">
            <div class="mui-appbar mui--appbar-line-height">
                <div class="mui-container-fluid">
                    <a
                        class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
                    <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
                    <span class="mui--text-title mui--visible-xs-inline-block">Alec Ashford</span>
                </div>
            </div>
        </header>
        <div id="content-wrapper">
            <!-- Main content goes here -->
            <div class="mui--appbar-height"></div>
            <div class="mui-container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer id="footer">
        </footer>
    </body>
</html>