{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Alec Ashford's Personal Website</title>

        <script type="text/javascript">
                window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid = e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
                heap.load({{ HEAP_ENV_ID }});
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'personal_site/css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'personal_site/css/base.css' %}">
        <script type="text/javascript" src="{% static 'personal_site/js/base.js' %}"></script>

        {% block css %}
        {% endblock css %}

    </head>

    <body>
        <!-- <div id="sidegrip">
            <div class="arrow"></div>
        </div> -->
        <div id="sidedrawer">
            <div id="sidedrawer-contents">
                <a href="{% url 'home' %}">
                    <div id="picture">
                        <img src="{{MEDIA_URL}}images/logo.png">
                    </div>
                    <div id="name">
                        Alec Ashford
                    </div>
                </a>
                <div></div>
                <ul>
                    <li>
                        <a href="{% url 'about' %}"><strong>About Me</strong></a>
                    </li>
                    <li>
                        <strong>Projects</strong>
                        <ul>
                            <li><a href="https://tictactoe.ashford.sh/">Tic Tac Toe</a></li>
                            <li><a href="#">House Keeper</a></li>
                            <li><a href="https://chrome.google.com/webstore/detail/new-tab-flag/lagcgenebmlhjhclaoakigmljeipmamg?hl=en">New Tab? Flag!</a></li>
                            <li><a href="#">This Site + Infra</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/blog/"><strong>Blog</strong></a>
                    </li>
                </ul>
            </div>
            <ul class="social-icons">
                <li><a href="https://github.com/alecashford"><img src='{{MEDIA_URL}}images/github_logo.png' /></a></li>
                <li><a href="mailto:alecwashford@gmail.com"><img src='{{MEDIA_URL}}images/gmail_logo.png' /></a></li>
                <!-- <li><a href="#"><img src='{{MEDIA_URL}}images/twitter_logo.png' /></a></li> -->
                <li><a href="https://www.linkedin.com/in/awashford/"><img src='{{MEDIA_URL}}images/linkedin_logo.png' /></a></li>
            </ul>
        </div>
        <div id="content-wrapper">
            <!-- Main content goes here -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer id="footer">
            <div id="copywrite">
                © Alec Ashford {% now "Y" %}
            </div>
        </footer>
    </body>
</html>